{% extends "layout.html" %}

{% block title %}
    Your Results!
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="d-flex mt-5 text-center justify-content-center">
        <h2 style="color:white">Your chances of surviving the virus, if infected, are</h2>
    </div>
    <div class="d-flex mt-3 justify-content-center">
        <h1 style="color:{{ color }}; font-size:50px">{{ prob }}%</h2>
    </div>
    <div class="d-flex mt-5 justify-content-center">
        <iframe src="https://giphy.com/embed/hpXFi66bfQm7e81ohw" width="350" height="350" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
    <div class="d-flex flex-column mt-5 text-center justify-content-center">
        {% if chanceType == 'high' %}
            <h2 style="color:{{ color }}">Great going! Make sure to keep washing your hands and maintain social distance. Watch out for others in your family who may be more vulnerable!</h2>
        {% elif chanceType == 'medium' %}
            <h2 style="color:{{ color }}">Good job! Make sure to follow appropriate health guidelines, and try to stay indoors!</h2>
        {% elif chanceType == 'low' %}
            <h2 style="color:{{ color }}">That's OK! Make sure to stay indoors as much as you can, and follow all health guidelines strictly!</h2>
            <br>
            <h2 style="color:{{ color }}">We will get through this!</h2>
        {% else %}
            <h2 style="color:{{ color }}"><strong>Please stay at home at all times!</strong> Maintain social distancing very strictly, and stay <strong>far away</strong> from anyone who seems infected.</h2>
            <br>
            <h2 style="color:{{ color }}">While you are more vulnerable to this disease, don't worry! We will get through this!</h2>
        {% endif %}
    </div>
    <div class="d-flex container-fluid justify-content-center mt-5">
        <button onclick="location.href = '/';" type="button" class="btn-lg btn-primary">Go Back!</button>
    </div>
    <div class="d-flex justify-content-center mt-5">
        <h1 style="color:#5b9df5">How did we get this number?</h1>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <h5 style="color:white">We pulled some stats from <a href="https://www.worldometers.info/coronavirus/coronavirus-age-sex-demographics/" target="_blank" style="color:inherit"><u>Worldometer</u></a>, did some not-so-mathematical magic, and got this number!</h1>
    </div>
    <div class="d-flex mt-5 justify-content-center">
        <h1 style="color:#5b9df5"><u>Disclaimer</u></h1>
    </div>
    <div class="d-flex mt-3 justify-content-center">
        <h5 style="color:white">This <u>IS NOT</u> the equivalent of any sort of medical test.</h5>
    </div>
    <div class="d-flex mt-2 pb-5 justify-content-center">
        <h5 style="color:white">This is just a personal project. Don't take this number too seriously.</h5>
    </div>

</div>
{% endblock %}