{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<div class="container-fluid">

    <div class="d-flex justify-content-center mt-5">
        <h4 style="color:white">COVID-19 has disrupted our lives drastically. But we can defeat this unseen enemy together!</h4>
    </div>

    <div class="mt-3" id="mainMap" style="position: relative; width:100%; height: 700px">

        <script>
        var mainMap = new Datamap({
            scope: 'world',
            element: document.getElementById("mainMap"),
            fills: {
                defaultFill: '#2a2e2a',
                'vlow': '#ffa6a6',
                'low': '#ff7575',
                'medium': '#ed6b6b',
                'high': '#ef3a4b',
                'vhigh': '#eb2f2f',
                'nothing': '#2a2e2a'
            },
            geographyConfig: {
                hideAntarctica: true,
                borderColor: '#000000',
                popupTemplate: function(geography, data) { //this function should just return a string
                    return '<div class="hoverinfo"><strong>' + geography.properties.name + ', \nTotal Cases: ' + data.numCases + '\tTotal Deaths: ' + data.numDeaths + '</strong></div>';
                },
            },

            data: {

                {% for c in theDict %}
                    {{ c }}: {
                        fillKey: '{{ colorDict[c]|string }}',
                        numCases: {{ theDict[c]|string }},
                        numDeaths: {{ deathDict[c]|string }}
                    },
                {% endfor %}

            },


        });
        </script>

    </div>

    <div class="col-12 d-flex flex-row justify-content-center pb-3" style="color: white">
        <div class="mr-5">
            <div class="m-2 mb-3">
                <div style="width:10px; height:10px; background-color: #eb2f2f" class="mr-2"></div>More than 100,000 cases.
            </div>
            <div class="m-2">
                <div style="width:10px; height:10px; background-color: #ef3a4b" class="mr-2"></div>More than 50,000 cases.
            </div>
        </div>
        <div>
            <div class="m-2 mb-3">
                <div style="width:10px; height:10px; background-color: #ed6b6b" class="mr-2"></div>More than 10,000 cases.
            </div>
            <div class="m-2">
                <div style="width:10px; height:10px; background-color: #ff7575" class="mr-2"></div>More than 1,000 cases.
            </div>
        </div>
    </div>

    <div class="col-12 d-flex flex-row justify-content-center pb-3" style="color: white">
        <div class="m-2 mb-3">
            <div style="width:10px; height:10px; background-color: #ffa6a6" class="mr-2"></div>At least 1 case.
        </div>
    </div>


    <div class="col-12 d-flex justify-content-center pb-3">
        <h6 style="color: white">* If a country is dark gray, either this country has no cases :) <strong>or</strong> this website can't process the number of cases for this country :/</h6>
    </div>

</div>


<div class="container-fluid pb-3" style="background-color:#2b2b2b; color:white">
    <div class="d-flex justify-content-center mt-3 pt-5">
        <h1>How can we defeat the unseen enemy?</h1>
    </div>
    <div class="d-flex justify-content-center pt-2">
        <h4 style="color:#5b9df5">You can save a life.</h4>
    </div>
</div>

<div class="container-fluid mt-0" style="background-color:#2b2b2b; color:white">

    <div class="d-flex flex-row justify-content-center pt-5 mb-5 ml-5 mr-5">
        <div class="d-flex flex-row col-6 mt-4 mb-4">
            <iframe src="https://giphy.com/embed/Qu1fT51CG14ksIkASL" width="150px" height="150px" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            <h1 class="ml-4 mt-4" style="font-size:45px; color:#5b9df5">Social Distancing.</h1>
        </div>
        <div class="col-6 mt-4 mb-4">
            <h3>Social Distancing helps reduce the number of people who get infected. It also helps 'flatten the curve', reducing the strain on our healthcare system. </h3>
        </div>
    </div>

    <div class="d-flex flex-row justify-content-center m-5">
        <div class="d-flex flex-row col-6 mt-4 mb-4">
            <iframe src="https://giphy.com/embed/kaa12hX0AGM0ta7jqs" width="150px" height="150px" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            <h1 class="ml-4 mt-5" style="font-size:45px; color:#5b9df5">Wash Your Hands.</h1>
        </div>
        <div class="col-6 mt-5 mb-4">
            <h3>Washing your hands often will helps stop the virus from getting to you and those you care about. Be sure to wash your hands before eating especially!</h3>
        </div>
    </div>

    <div class="d-flex flex-row justify-content-center mt-5 ml-5 mr-5 pb-4">
        <div class="d-flex flex-row col-6 mt-4 mb-4">
            <iframe src="https://giphy.com/embed/2lzhUOZsRY86Y" width="200px" height="200px" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            <h1 class="ml-4 mt-5 pt-2" style="font-size:45px; color:#5b9df5">Cover up.</h1>
        </div>
        <div class="col-6 mt-5 mb-4">
            <h3>Cover your face with a mask (or at least a cloth) when around others! Remember to cover coughs and sneezes using the inside of your elbow or a tissue. This isn't a substitute for social distancing though!</h3>
        </div>
    </div>
</div>

<div class="container-fluid mt-0" style="background-color:#292828; color:white">


    <div class="d-flex justify-content-center pt-5">
        <h1>Your Chances.</h1>
    </div>
    <div class="d-flex justify-content-center pt-2">
        <h4 style="color:#5b9df5">How likely are you to survive the virus?</h4>
    </div>
    <div class="d-flex justify-content-center">
        <form class="mt-4" action="/" method="POST">
            <div class="form-group">
                <div>
                    <label for="age"><strong>Age</strong></label>
                </div>
                <select id="age">
                    <option value="0-9">0-9</option>
                    <option value="10-19">10-19</option>
                    <option value="20-29">20-29</option>
                    <option value="30-39">30-39</option>
                    <option value="40-49">40-49</option>
                    <option value="50-59">50-59</option>
                    <option value="60-69">60-69</option>
                    <option value="70-79">70-79</option>
                    <option value="80+">80+</option>
                </select>
            </div>
            <div class="form-group">
                <div>
                    <label for="gender"><strong>Gender</strong></label>
                </div>
                <select id="gender">
                    <option value="m">Male</option>
                    <option value="f">Female</option>
                </select>
            </div>
            <div class="form-group">
                <label for="diseases">Diseases you may already have</label>
                <select multiple class="form-control" id="diseases">
                    <option value="cardio">Cardiovascular Disease</option>
                    <option value="diabetes">Diabetes</option>
                    <option value="resp">Chronic Respiratory Disease</option>
                    <option value="hypertension">Hypertension</option>
                    <option value="cancer">Cancer</option>
                </select>
            </div>
        </form>
    </div>


</div>

<div class="footer text-small">
    <div class="footer-copyright text-center pb-3" style="color:white">
        &copy; 2020 <a href="https://github.com/krishnarao22">Krishna R.</a> GIFs from <a href="https://giphy.com/">Giphy</a>
    </div>
</div>

{% endblock %}
