{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<div class="container-fluid">

    <div class="d-flex justify-content-center mt-5">
        <h4 style="color:white">COVID-19 has disrupted our lives drastically. But we can defeat this unseen enemy together!</h4>
    </div>

    <div class="mt-3" id="mainMap" style="position: relative; width:100%; height: 700px">

        <script>
        var mainMap = new Datamap({
            scope: 'world',
            element: document.getElementById("mainMap"),
            fills: {
                defaultFill: '#2a2e2a',
                'vlow': '#f7c3c3',
                'low': '#ed9a9a',
                'medium': '#d16d6d',
                'high': '#ed5f5f',
                'vhigh': '#e34b4b',
                'extreme': '#ff0000',
                'nothing': '#2a2e2a'
            },
            geographyConfig: {
                hideAntarctica: true,
                borderColor: '#000000',
                popupTemplate: function(geography, data) { //this function should just return a string
                    return '<div class="hoverinfo"><strong>' + geography.properties.name + ', <br>Total Cases: ' + data.numCases + '<br> Total Deaths: ' + data.numDeaths + '</strong></div>';
                },
            },

            data: {

                {% for c in theDict %}
                    {{ c }}: {
                        fillKey: '{{ colorDict[c]|string }}',
                        numCases: {{ theDict[c]|string }},
                        numDeaths: {{ deathDict[c]|string }}
                    },
                {% endfor %}

            },


        });
        </script>

    </div>

    <div class="col-12 d-flex flex-row justify-content-center pb-3" style="color: white">
        <div class="mr-5">
            <div class="m-2 mb-3">
                <div style="width:10px; height:10px; background-color: #ff0000" class="mr-2"></div>More than 500,000 cases.
            </div>
            <div class="m-2">
                <div style="width:10px; height:10px; background-color: #ed5f5f" class="mr-2"></div>More than 50,000 cases.
            </div>
            <div class="m-2 mr-5 mt-3">
                <div style="width:10px; height:10px; background-color: #ed9a9a" class="mr-5"></div>More than 1,000 cases.
            </div>

        </div>
        <div>

            <div class="m-2 mb-3">
                <div style="width:10px; height:10px; background-color: #e34b4b" class="mr-2"></div>More than 100,000 cases.
            </div>
            <div class="m-2 mb-3">
                <div style="width:10px; height:10px; background-color: #d16d6d" class="mr-2"></div>More than 10,000 cases.
            </div>
            <div class="m-2 mb-3">
                <div style="width:10px; height:10px; background-color: #f7c3c3" class="mr-2"></div>Less than 1,000 cases.
            </div>
        </div>
    </div>



    <div class="col-12 d-flex justify-content-center pb-3">
        <h6 style="color: white">* If a country is dark gray, either this country has no cases :) <strong>or</strong> this website can't process the number of cases for this country :/</h6>
    </div>

    <div class="container-fluid pt-5 pb-4" id="chart">

            <script>
                var options = {
                  series: [{
                  name: 'Infected',
                  data: [{{ total }}]
                }, {
                  name: 'Recovered',
                  data: [{{ recovered }}]
                }, {
                  name: 'Deaths',
                  data: [{{ deaths }}]
                }],
                  chart: {
                  type: 'bar',
                  height: 300,
                  stacked: true,
                  foreColor: '#fff',
                  style: {
                    fontSize: '14px'
                  },
                },
                fill: {
                  colors: ['#FFFFFF', '#E91E63', '#9C27B0']
                },
                plotOptions: {
                  bar: {
                    horizontal: true,
                  },
                },
                stroke: {
                  width: 2,
                  colors: ['#fff']
                },
                title: {
                  text: 'Coronavirus'
                },
                style: {
                    fontSize: '14px'
                },
                xaxis: {
                  categories: ["Total"],
                  labels: {
                    formatter: function (val) {
                      return val
                    },
                  }
                },
                yaxis: {
                  title: {
                    text: undefined
                  },
                },
                tooltip: {
                  y: {
                    formatter: function (val) {
                      return val
                    }
                  },
                  style: {
                    fontSize: '14px',
                  }
                },
                fill: {
                  opacity: 1
                },
                legend: {
                  position: 'top',
                  horizontalAlign: 'left',
                  offsetX: 40
                }
                };

                var chart = new ApexCharts(document.querySelector("#chart"), options);
                chart.render();

            </script>
        </canvas>
    </div>

</div>


<div class="container-fluid pb-3" style="background-color:#2b2b2b; color:white">
    <div class="d-flex justify-content-center mt-3 pt-5">
        <h1>How can we Defeat the Unseen Enemy?</h1>
    </div>
    <div class="d-flex justify-content-center pt-2">
        <h4 style="color:#5b9df5">You can save a Life.</h4>
    </div>
</div>

<div class="container-fluid mt-0" style="background-color:#2b2b2b; color:white">

    <div class="d-flex flex-row justify-content-center pt-5 mb-5 ml-5 mr-5">
        <div class="d-flex flex-row col-6 mt-4 mb-4">
            <iframe src="https://giphy.com/embed/Qu1fT51CG14ksIkASL" width="150px" height="150px" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            <h1 class="ml-4 mt-4" style="font-size:45px; color:#5b9df5">Social Distancing.</h1>
        </div>
        <div class="col-6 mt-4 mb-4">
            <h3>Social Distancing helps reduce the number of people who get infected. It also helps 'flatten the curve', reducing the strain on our healthcare system. </h3>
        </div>
    </div>

    <div class="d-flex flex-row justify-content-center m-5 pt-3">
        <div class="d-flex flex-row col-6 mt-4 mb-4">
            <iframe src="https://giphy.com/embed/SAITQHfB6SLQc3fuf3" width="175px" height="175px" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            <h1 class="ml-4 mt-5" style="font-size:45px; color:#5b9df5">Wash Your Hands.</h1>
        </div>
        <div class="col-6 mt-3 mb-4">
            <h3>Washing your hands often will helps stop the virus from getting to you and those you care about. Make sure to wash your hands for 20 seconds at least!</h3>
            <br>
            <h5>Here's <a href="https://www.who.int/gpsc/5may/Hand_Hygiene_Why_How_and_When_Brochure.pdf">WHO's guide</a> to hand hygiene!</h5>
        </div>
    </div>

    <div class="d-flex flex-row justify-content-center mt-2 mr-5 ml-5 pb-2">
        <div class="d-flex flex-row col-6 mt-4 pt-3 mb-4">
            <iframe src="https://giphy.com/embed/2lzhUOZsRY86Y" width="200px" height="200px" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            <h1 class="ml-4 mt-5 pt-2" style="font-size:45px; color:#5b9df5">Cover up.</h1>
        </div>
        <div class="col-6 mt-3">
            <h3>Cover your face with a mask (or at least a cloth) when around others!</h3>
            <br>
            <h5>This isn't a substitute for social distancing though!</h5>
            <br>
            <h3>Remember to cover coughs and sneezes using the inside of your elbow or a tissue.</h3>
        </div>
    </div>

    <div class="d-flex flex-row justify-content-center pt-5 pb-5 ml-5 mr-5">
        <div class="d-flex flex-row col-6 mt-4 mb-4 pt-1">
            <iframe src="https://giphy.com/embed/UrmSM7W8KDxqLHRaoe" width="240" height="180" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            <h1 class="ml-4 mt-4 pt-4" style="font-size:45px; color:#5b9df5">Don't Touch!</h1>
        </div>
        <div class="col-6 mt-4 mb-4">
            <h3>Remember not to touch your face! Touching your face increases the chance that the virus will enter your body – <strong>you want to prevent that at all costs.</strong></h3>
            <br>
            <h5>Check out <i><a href="https://donottouchyourface.com/">Don't Touch your Face</a></i> – a website that helps you learn to not touch your face!</h5>
        </div>
    </div>

</div>

<div class="container-fluid mt-0 pb-5" style="background-color:#292828; color:white">

    <div class="d-flex justify-content-center pt-5">
        <h1>Check Up!</h1>
    </div>
    <div class="d-flex justify-content-center flex-col pt-2">
        <h4 style="color:#5b9df5">Let's do a quick check on your health!</h4>
    </div>
    <div class="d-flex justify-content-center">
        <form class="mt-4" style="text-align:center" action="/" method="POST">
            <div class="d-flex flex-column justify-content-center col-12 card w-100 p-5 shadow-lg" style="background-color:#37393b; border-radius:10%">
                <div class="form-group mt-2">
                    <div>
                        <label for="age"><strong>Age</strong></label>
                    </div>
                    <select class="form-control" id="age" name="age">
                        <option value="0-9">0-9</option>
                        <option value="10-19">10-19</option>
                        <option value="20-29">20-29</option>
                        <option value="30-39">30-39</option>
                        <option value="40-49">40-49</option>
                        <option value="50-59">50-59</option>
                        <option value="60-69">60-69</option>
                        <option value="70-79">70-79</option>
                        <option value="80+">80+</option>
                    </select>
                </div>
                <div class="form-group mt-2">
                    <div>
                        <label for="gender"><strong>Gender</strong></label>
                    </div>
                    <select id="gender" class="form-control" name="gender">
                        <option value="m">Male</option>
                        <option value="f">Female</option>
                    </select>
                </div>
                <div class="form-group mt-2">
                    <label for="diseases">Diseases you may already have</label>
                    <select multiple class="form-control" id="diseases" name="diseases">
                        <option value="cardio">Cardiovascular Disease</option>
                        <option value="diabetes">Diabetes</option>
                        <option value="resp">Chronic Respiratory Disease</option>
                        <option value="hypertension">Hypertension</option>
                        <option value="cancer">Cancer</option>
                        <option default autofocus>None, I'm healthy!</option>
                    </select>
                </div>
                <div class="form-group mt-3">
                    <input type="submit">
                </div>
            </div>
        </form>
    </div>


</div>

{% endblock %}
